nav {
  grid-column-start: 1;
  /*use -1 if you decide to add more columns*/
  grid-column-end: -1;
}

footer {
	/*grid-column-start: 1;
  	grid-column-end: -1;*/
  	grid-column: 1 / -1;
}

#article1, #article2 {
	grid-column-start: 1;
  	grid-column-end: 2;
}

.blog {
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 4;
}